.user-menu .nav-link {
  font-size: 100rem;     /* aumenta el tamaño */
  padding: 10px 0;       /* más espacio vertical */
}

.user-menu .nav-item {
  margin-bottom: 10px;    /* separación entre ítems */
}

.user-menu .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 6px;
}


