<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top  ">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="">
      <img src="../../../../../assets/img/EduSoft-logo.png" alt="EduSoft" height="40">EduSoft
    </a>

    <!-- Botón hamburguesa móvil -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo01">

      <!-- IZQUIERDA -->
      <div class="d-flex align-items-center">

        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active"[routerLink]="['/teacher']" aria-current="page">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app-create-courses']">Crear Cursos</a>
          </li>

          <!-- crear categorias
           <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app-create-categories']">Categorias</a>
          </li>      -->

        </ul>
      </div>

      <!-- CENTRO: BUSCADOR 
      <form class="d-flex mx-auto" role="search" style="max-width: 400px; flex: 1;">
        <input class="form-control me-2" type="search" placeholder="Buscar mis cursos" aria-label="Search" />
        <button class="btn btn-outline-success btnColor" type="submit">Buscar</button>
      </form>     -->

      <!-- DERECHA: Idioma + Usuario -->
      <div class="d-flex align-items-center">
        <!-- Selector de idioma 
        <select class="form-select form-select-sm me-2" style="width: auto;" [ngModel]="currentLang"
          (ngModelChange)="changeLang($event)">
          <option value="es">Español</option>
          <option value="en">English</option>
        </select>        -->

        <!-- Perfil de usuario -->
        <ul class="navbar-nav" *ngIf="authService.isAuthenticated()">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{ 'nav.user' | translate}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserDropdown">
              <li><a class="dropdown-item" routerLink="/perfil">Perfil</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item text-danger" (click)="logout()">
                  {{ 'nav.logout' | translate}}
                </a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>

  </div>
</nav>

<!-- Margen para que el contenido no quede debajo del navbar -->
<div style="height: 70px;"></div>