<div class="page-container">
    <!-- Logo -->
    <img src="assets/logo-uq.png" alt="Logo Universidad del Quindío" class="logo-uq" />

    <!-- Controles de accesibilidad -->
    <div class="accessibility-controls">
        <button type="button" (click)="setFontSize('normal')" data-tooltip="Tamaño normal">A-</button>
        <button type="button" (click)="setFontSize('large')" data-tooltip="Aumentar tamaño">A+</button>
    </div>

    <!-- Caja formulario -->
    <div class="form-container">
       

        <!-- Mensaje de éxito -->
        <div *ngIf="showSuccessMessage" class="success-message">
            ✅  La clave se ha modifcado correctamente
        </div>

        <!-- Mensaje de error -->
        <div *ngIf="errorMsg" class="error-message" style="text-align:center; margin-bottom:10px;">
            {{ errorMsg }}
        </div>

      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
   <!-- Contraseña nueva -->
   <label>Contraseña nueva</label>
   <input type="text" formControlName="Password1" placeholder="Ingresar contraseña"  />

   <!-- Confirmar contraseña -->
   <label>Confirmar contraseña</label>
   <input type="text" formControlName="Password2" placeholder="Confirmar contraseña" />

   <div class="error-message" *ngIf="f['Password1']?.touched && f['Password1']?.invalid">
     La contraseña es obligatoria
   </div>

   <div class="error-message" *ngIf="f['Password2']?.touched && f['Password2']?.invalid">
     Confirmar la contraseña es obligatoria
   </div>

   <!-- Botón -->
   <button type="submit" [disabled]="userForm.invalid || isLoading">
     Cambiar Contraseña
   </button>
</form>
    </div>
</div>
