<!-- Botón para abrir sidebar -->
<button class="btn btn-primary m-3 d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu">
  <span class="navbar-toggler-icon"></span>
</button>

<!-- Sidebar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarMenuLabel"></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body d-flex flex-column p-0">

    <div class="mt-auto">
      <a class="nav-link d-flex align-items-center px-3 py-2 text-danger" (click)="authService.logout()">
        <img src="assets/icons/logout.svg" alt="" class="me-2" style="width:24px;"> Cerrar sesión
      </a>
    </div>
  </div>
</div>
