html, body {
  height: 100%;
  margin: 0;
   overflow-y: scroll;   /* mantiene el scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE y Edge antiguo */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.WhatsappButton-module_WhatsappButton__c-l7g {
    align-items: center;
    background-color: #25d366;
    border-radius: 100%;
    bottom: 2rem;
    box-shadow: 0 0 24px 0 rgba(37, 211, 102, 0.5);
    cursor: pointer;
    display: flex;
    height: 56px;
    justify-content: center;
    position: fixed;
    right: 2rem;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    width: 56px;
    z-index: 999;
}

.WhatsappButton-module_WhatsappButton__c-l7g:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px 0 rgba(37, 211, 102, 0.7);
}

.WhatsappButton-module_WhatsappButton__c-l7g svg {
    font-size: 1.7rem;
}

.WhatsappButton-module_WhatsappButton__c-l7g svg path {
    fill: #fff;
}

html {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

html::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
  display: none !important;
}

body {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

body::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
  display: none !important;
}

/* Para todos los elementos */
::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
  background: transparent !important;
  display: none !important;
}

/* Selector universal */
* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

*::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
  background: transparent !important;
  display: none !important;
}

/* Para Angular específico */
app-root,
router-outlet {
  overflow-y: auto !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

app-root::-webkit-scrollbar,
router-outlet::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
  display: none !important;
}