<div class="fondo">
    <div class="container py-5">
        <div class="shadowbox mx-auto">
           <button 
  type="button" 
  class="btn btn-custom-outline-sm me-2" 
  (click)="goBack()"
>
  <i class="bi bi-arrow-left"></i>
</button>

            <h1 class="text-center mb-2" *ngIf="!isCodeSent">Recuperar contraseña</h1>

            <h1 class="text-center mb-2" *ngIf="isCodeSent">Verificar código</h1>

            <p class="text-center mb-4 text-muted" *ngIf="!isCodeSent">
                Se validará si hay una cuenta con ese email o teléfono y se enviará un código a esa cuenta.
            </p>

            <p class="text-center mb-4 text-muted" *ngIf="isCodeSent">
                Ingrese el código de verificación que hemos enviado a su correo o teléfono.
            </p>

            <!-- Alertas -->
            <div *ngIf="errorMsg" class="alert alert-danger mb-3">{{ errorMsg }}</div>
            <div *ngIf="showSuccessMessage" class="alert alert-success mb-3">
                ✅ Código enviado correctamente
            </div>

            <form class="row g-3" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <!-- Correo/Teléfono -->
                <div *ngIf="!isCodeSent" class="form-floating mb-3">
                    <input type="text" id="username" formControlName="username" class="form-control"
                        placeholder="name@example.com" />
                    <label for="username">Ingrese el correo o el teléfono</label>
                    <div class="text-danger" *ngIf="f['username']?.touched && f['username']?.hasError('required')">
                        El correo o teléfono es obligatorio.
                    </div>
                </div>

                <!-- Código de verificación -->
                <div *ngIf="isCodeSent" class="verification-code">
                    <label>Código de verificación</label>
                    <div class="code-inputs">
                        <input type="text" maxlength="1" formControlName="code1" (input)="autoFocusNext($event, 1)" />
                        <input type="text" maxlength="1" formControlName="code2" (input)="autoFocusNext($event, 2)" />
                        <input type="text" maxlength="1" formControlName="code3" (input)="autoFocusNext($event, 3)" />
                        <input type="text" maxlength="1" formControlName="code4" (input)="autoFocusNext($event, 4)" />
                    </div>
                    <div class="text-danger"
                        *ngIf="(f['code1']?.invalid || f['code2']?.invalid || f['code3']?.invalid || f['code4']?.invalid) && formSubmitted">
                        El código es obligatorio y debe contener 4 dígitos numéricos.
                    </div>
                </div>


                <!-- Acciones -->
                <div class="col-12 text-center mt-3">
                    <button type="button" class="btn btn-outline-secondary me-2" (click)="onReset()"
                        [disabled]="isLoading">
                        Limpiar
                    </button>


                    <button type="submit" class="btn btn-success"
                        [disabled]="isLoading || (!isCodeSent && f['username'].invalid) || (isCodeSent && userForm.invalid)">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status"
                            aria-hidden="true"></span>
                        {{ isCodeSent ? 'Verificar código' : 'Enviar código' }}
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>